---
import { Icon } from "astro-icon";
const { label = "", linkTo = "/" } = Astro.props;
const year = new Date().getFullYear();

import chevronright from "../icons/chevron-right.svg?raw";
---

<div>
  <button class="load-more">Indlæs flere</button>
</div>

<footer>
  <a href={linkTo} class="more-exercises"
    >Prøv også {label} <Fragment set:html={chevronright} /></a
  >

  <small><span>© {year}&nbsp;Vinther.codes</span></small>
</footer>

<style lang="scss">
  :global(html:not([data-extra="true"])) .more-exercises {
    display: none;
  }

  button {
    all: unset;
    cursor: pointer;
  }

  a {
    color: #fff;
    text-decoration: none;
    padding: var(--space-3) var(--space-3) var(--space-3) var(--space-5);
    border: 2px solid var(--blue-500);
    inline-size: fit-content;
    place-self: center;
    border-radius: var(--bdrs-round);
    transition: 0.2s;

    :global(svg) {
      color: #a9bcce;
      display: inline-block;
      vertical-align: middle;
      transition: inherit;
    }

    &:hover {
      border-color: #a9bcce;
      color: var(--blue-500);

      :global(svg) {
        color: var(--blue-500);
      }
    }
  }

  div {
    text-align: center;
    margin: var(--space-7) var(--space-5) 0;
  }
  .load-more {
    color: var(--blue-900);
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.25em 0.75em;
    cursor: pointer;
    font-variation-settings: "wdth" 120;
    font-family: Mona Sans, system-ui;
    letter-spacing: 0.01em;
    border-radius: var(--bdrs-l);
  }
  .load-more:is(:hover, :focus-visible) {
    text-decoration: underline;
  }

  :global([data-extra="true"]) .load-more {
    display: none;
  }
</style>

<script>
  import "../js/loadmore";
</script>
