---
import { Icon } from "astro-icon";
import chevronleft from "../icons/chevron-left.svg?raw";
---

<header class="main-header">
  <a class="back" href="/">
    <!--<Icon name="chevron-left" width="18" />-->
    <Fragment set:html={chevronleft} />
    &nbsp;Til exercssises</a
  >

  <!-- <div class="exercise-logo">
    <Icon name="lucide:layout-dashboard" width="28" height="28" />
  </div>
  <h1>Grid Exercises</h1>
  <p>
    Følgende øvelser har til hensigt at hjælpe dig med at lære at bruge CSS
    Grid.
  </p>
  <a href="#exercise-1" class="btn">Kom i gang</a> -->
</header>

<style lang="scss" is:global>
  .main-header {
    display: grid;
    grid: auto/minmax(var(--space-5), 1fr) minmax(auto, 1200px) minmax(
        var(--space-5),
        1fr
      );
    gap: var(--space-5) 0;
    // padding-block: var(--space-8) var(--space-8);
    padding-block: var(--space-6);
    background: #fff;
    margin-block-end: var(--space-9);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--space-6)), 0 100%);
    /*z-index: 100;*/
    /*pointer-events: none;*/

    & > * {
      grid-column: 2;
    }

    p {
      max-width: 50ch;
    }

    .back:any-link {
      font-family: "Mona Sans", system-ui;
      display: flex;
      gap: 0.55ch;
      align-items: center;
      inline-size: fit-content;
      font-weight: 600;
      font-size: 0.9rem;
      color: var(--gray-600);
      text-decoration: none;

      &:hover,
      &:hover svg {
        color: #212529;
      }

      svg {
        color: var(--gray-200);

        path {
          stroke-width: 3;
        }
      }
    }

    .btn:any-link {
      display: flex;
      align-items: center;
      gap: var(--space-2);
      padding: var(--space-3) var(--space-5);
      background: var(--blue-800);
      border: 2px solid var(--blue-800);
      justify-self: start;
      color: #fff;
      border-radius: 1e5px;
      font-weight: 600;
      text-decoration: none;
      line-height: 1.25;
      transition: 0.15s;

      &:hover {
        color: var(--blue-800);
        background: transparent;
      }
    }

    h1 {
      font-weight: 900;
      // text-transform: uppercase;
      font-size: 4rem;
      --min-font: 40;
      --max-font: 64;
      font-size: clamp(
        var(--min-font) * 1px,
        var(--responsive),
        var(--max-font) * 1px
      );
      line-height: 1.125;
      // cursor: pointer;
      // justify-self: center;
      // -webkit-user-select: none;
      // user-select: none;
      // // background: #2a2139;
      // // background: #141330;
      // background: var(--blue-900);
      // will-change: transform;
      // padding-inline: var(--space-5);
      // border-radius: 8px;
      // transform-origin: 0 0;
      // transition: 0.1s cubic-bezier(0.5, 0, 0.5, 1);
      // pointer-events: auto;
      // position: relative;
    }

    /*&.is-pinned {
            position: sticky;
            top: -1px;

            h1 {
            transform: translate(25%, 5px) scale(0.5);
            transition: 0.3s;
            }
        }

        .stroke-text {
            // --c: #72f1b8;
            // color: var(--c, #72f1b8);
            --c: var(--primary);
            color: var(--c, #82f4e1);
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px currentColor;
            overflow: hidden;
            max-width: 3.1ch;
            display: inline-block;
            vertical-align: bottom;
            text-decoration: underline var(--c) 4px;
            text-underline-offset: 4px;
            transition: 0.3s;
            will-change: max-width;
            contain: paint;
        }

        .toggled {
            --c: var(--ui-secondary, #fb28a8);
            max-width: 1.05ch;
        }*/
  }

  .exercise-logo {
    max-width: min-content;
    padding: 0.8rem;
    border: 5px double #dedee0;
    border-radius: 1e5px;
    color: var(--blue-700);
    background: radial-gradient(#fff 0 0) content-box,
      hsl(209deg 27% 93%) padding-box;
    aspect-ratio: 1;
  }

  .exercise-logo svg {
    display: block;
  }
</style>
