---
import Button from "./Button.astro";
---

<div class="controls">
  <div>
    <Button icon="minus">Fjern boks</Button>
    <Button icon="plus">Tilføj boks</Button>
  </div>
</div>

<style lang="scss">
  .controls {
    display: grid;
    grid: auto / repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    gap: 0 var(--space-6);
    justify-items: end;
    align-self: end;
    grid-column: 1 / -1;

    &::after {
      content: "";
    }

    > div {
      display: flex;
      gap: var(--space-2);
      grid-column: -2;
    }
  }
</style>