---
import { Sprite } from "astro-icon";
const { icon } = Astro.props;
---

<button type="button" class={icon}>
  <!-- <svg aria-hidden="true" width="18" height="18" fill="none" stroke="var(--btn-icon, currentColor)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <use href={`#${icon}`}></use>
    </svg> -->
  {
    icon === "minus" ? (
      <Sprite name="lucide:minus-circle" width="18" fill="none" />
    ) : (
      <Sprite name="lucide:plus-circle" width="18" fill="none" />
    )
  }
  <span><slot /></span>
</button>

<style lang="scss">
  button:not([disabled]) {
    background: linear-gradient(#fff 0%, #e9eef4 100%) padding-box, #fff;
    box-shadow: rgb(255 255 255) 0px 0px 0px 0px,
      rgb(51 65 85 / 10%) 0px 0px 0px 1px, rgb(0 0 0 / 5%) 0px 20px 25px -5px,
      rgb(0 0 0 / 5%) 0px 8px 10px -6px;
    transition: 0s;
  }
  button:not([disabled]):active {
    background: linear-gradient(#fff 0%, #fff 100%) padding-box, #fff;
    box-shadow: rgb(255 255 255) 0px 0px 0px 0px,
      rgb(51 65 85 / 10%) 0px 0px 0px 1px, rgb(0 0 0 / 5%) 0px 0px 0px 0px,
      rgb(0 0 0 / 5%) 0px 0px 0px 0px;
  }
  button :global(svg) {
    color: var(--btn-icon, var(--ui-secondary));
    // width: 1.375rem;
    // height: 1.375rem;
    width: 1.1em;
    height: 1.1em;
  }
  button.plus {
    // --btn-icon: var(--ui-accent);
    // --btn-icon: var(--ui-secondary);
    // --btn-theme: var(--ui-accent);
    // box-shadow: none;
  }
  button.minus {
    // --btn-icon: hsl(324 66% 37%);
    // --btn-theme: hsl(324 66% 37%);
    // --btn-bg: hsl(324 60% 85%);
    // --btn-active: hsl(324 60% 80%);
    // box-shadow: none;
  }
</style>
