---
import "/src/style/global.scss";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;

const label = title === "Grid-exercises" ? "Flex-exercises" : "Grid-exercises";
const link = title === "Grid-exercises" ? "/flex" : "/grid";

// const currentPage = Astro.url.pathname;

// const pageSettings = {
//   "Grid-exercises": {
//     link: "/flex",
//   },
//   "Flex-exercises": {
//     link: "/grid",
//   },
// };

// const page = pageSettings[currentPage];

// const { label, link } = page;
---

<html lang="da">
  <head>
    <Head title={title} />
  </head>
  <body>
    <Header />

    <main>
      <slot />
    </main>

    <Footer label={label} linkTo={link} />
    <script is:inline src="/script/bliss.js" fetchpriority="low"></script>
    <script is:inline src="/script/prism.js" fetchpriority="low"></script>
    <script is:inline src="/script/prism-live.js" fetchpriority="low"></script>
    <script is:inline src="/script/prism-live-markup.js" fetchpriority="low"
    ></script>
    <script is:inline src="/script/prism-live-css.js" fetchpriority="low"
    ></script>
    <script is:inline src="/script/prism-linenumbers.js" fetchpriority="low"
    ></script>
    <script>
      import "../js/exercises";
    </script>
  </body>
</html>
