---
// src/layouts/Base.astro
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---
<html lang="da">
<head>
    <Head title={ title } />
    <style is:global>
      .output .box {
        --ui-primary: var(--violet-100);
      }
      /* section {
        background: #f8ecf8;
      } */
      section .exercise-details {
        /* color: #3f0368; */
      }
      section img {
        /* background: #d0c7f3; */
        background: var(--violet-100);
      }
      
      [data-type="value"] {
        /* --m: var(--code-color); */
      }
      [data-type="property"] {
        /* --mbg: var(--violet-700); */
      }
      .hints li::marker {
        /* text-shadow: 0 0 1px #000; */
      }
      .main-header .toggled {
        max-width: 0 !important;
      }
      .output:is(.editor:focus-within + *) .box {
        background: hsl(290deg 68% 87%) !important;
      }
    </style>
</head>
<body>

  <Header />

    <!-- <Header>
      <span class="stroke-text">Fl</span>exercises
    </Header> -->

    <main>
      <slot />
    </main>

    <Footer label="grid-øvelser" linkTo="/grid" />

    <script is:inline src="/script/bliss.js"></script>
    <script is:inline src="/script/prism.js"></script>
    <script is:inline src="/script/prism-live.js"></script>
    <script is:inline src="/script/prism-live-markup.js"></script>
    <script is:inline src="/script/prism-live-css.js"></script>
    <script is:inline src="/script/prism-linenumbers.js"></script>
    <script is:inline type="module" src="/script/custom.js"></script>
</body>
</html>